:root {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

    /* Colores */
    --color-bg-black: #1a1a1a;
    --color-bg-obsidian: #23272f;
    --color-bg-noche: #181c24;
    --color-bg-pizarra: #1e222b;
    --color-bg-grafito: #21232b;
    --color-bg-material: #121212;

    --color-glass: rgba(30, 34, 43, 0.7);
    --color-navbar: rgba(24, 28, 36, 0.8);

    --color-accent-azul: #00a3bf;
    --color-accent-rojo: #d62a55;
    --color-accent-violeta: #8e5edc;
    --color-accent-verde: #0b8a67;
    --color-accent-naranja: #cc7a26;

    /* Redes Sociales */
    --color-twitter-bg: #1d9bf0;
    --color-twitter-text: #a8dcff;
    
    --color-instagram-bg: #e4405f;
    --color-instagram-text: #ffb3c1;
    
    --color-github-bg: #6e40c9;
    --color-github-text: #c9b3ff;
    
    --color-linkedin-bg: #0a66c2;
    --color-linkedin-text: #7db3e8;
 

    --color-text-main: #f3f3f3;
    --color-text-secondary: #b0b0b0;
}

html {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html * { margin: 0; }
header * {transition: 0.5s ease;}

body {
    background-color: var(--color-bg-material);
    color: var(--color-text-main);
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    padding-block: 2rem;
    position: relative;
}

main.main-body {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 16px;
}

hr 
{
    margin-block: 1rem;
    opacity: 0.2;
}

a {
    text-decoration: none;
    color: var(--color-text-secondary);
}