---
import { ArcoFetch } from '../fetch/arco-fetch';
import type { Arco } from '../models/arco';

const arcos: Arco[] = await ArcoFetch.getAll();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Arcos Disponibles</h1>
		<ul>
			{arcos.map((arco: Arco) => (
				<li>
					{arco.nombre}
					{arco.es_subarco ? 'Subarco' : 'normal'}
				</li>
			))}
		</ul>
	</body>
</html>
