---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ROUTES_NAME } from "../constants/routes";
---

<BaseLayout title={ROUTES_NAME.home}>
	<div slot="header-slot" class="main-page-header">
		<h2>Aqui va un banner super way</h2>
	</div>

	Aqwui va todo el contenido
</BaseLayout>

<style>
	.main-page-header {
		height: 250px;
	}
</style>