---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ROUTES_NAME } from "../constants/routes";
---

<BaseLayout title={ROUTES_NAME.us}>
	<div slot="header-slot" class="us-page-header">
		
	</div>

	capwituwos
</BaseLayout>