---
import BaseLayout from '../../layouts/BaseLayout.astro';
import WorksContainer from '../../layouts/objects/WorksContainer.astro';
import ChapterItem from '../../layouts/objects/ChapterItem.astro';
import { ROUTES_NAME } from "../../constants/routes";
import { CapituloFetch } from '../../fetch/capitulo-fetch';
import { ObraFetch } from '../../fetch/obra-fetch';
import type { Capitulo } from '../../models/capitulo';
import type { Obra as ObraType } from '../../models/obra';
import type { ApiError } from '../../models/api-error';

export async function getStaticPaths() {
  const obrasResponse = await ObraFetch.getAll();
  const obras: ObraType[] = 'error' in obrasResponse ? [] : obrasResponse as ObraType[];
  return obras.map((obra) => ({
    params: { obra: obra.url },
  }));
}

export const dynamicParams = true;
const { obra } = Astro.params;

const capitulosResponse = await CapituloFetch.getByObraUrl(obra as string);
const capitulos: Capitulo[] = 'error' in capitulosResponse ? [] : capitulosResponse as Capitulo[];

const obraResponse = await ObraFetch.getByUrl(obra as string);
const obraData = 'error' in obraResponse ? null : obraResponse as ObraType;
---

<BaseLayout title={ROUTES_NAME.chapters}>
	<!-- Slot del dynamic background para que se vea bien perruqui -->
	<div slot="dynamic-background-slot">
		<div class="dynamic-slot-work-header">
			<img src={obraData ? obraData.url_portada : ''} alt="">
		</div>
	</div>

	<!-- Slot del header de la pagina -->
	<div slot="header-slot" class="chapters-page-header">
		<div class="obra-header-name">
			<div>
				<h1>{obraData ? obraData.nombre : 'Obra no encontrada'}</h1>
				<hr>
			</div>
			<h3>{obraData ? obraData.descripcion : ''}</h3>
		</div>
	</div>
	
	<div class="main-content-chapters">
		<!-- Aqui se guardan las obras -->
		<div class="column-left">
			{obraData ? (
			<WorksContainer actual_show={obraData.url} />
			) : (
			<div></div>
			)}
		</div>

		<!-- Aqui se muestran los capitulos y arcos -->
		<div class="column-right">
			<div class="chapters-list-container">
				<h2>Lista de Capitulos</h2>
				<hr>
				{
				capitulos.length > 0 ? (
					<div class="chapter-list-grid">
						{capitulos.map((capitulo, index) => {
							const showArcoHeader = index === 0 || capitulos[index - 1].subarco?.nombre !== capitulo.subarco?.nombre;
							return (
								<>
									{showArcoHeader && capitulo.subarco && (
										<div class="arco-container-header">
											<h1 class="arco-header">{capitulo.subarco.nombre}</h1>
										</div>
									)}
									<ChapterItem capitulo={capitulo} />
								</>
							);
						})}
					</div>
				) : (
					<div>No hay capítulos disponibles para esta obra.</div>
				)
				}
			</div>
		</div>
	</div>
</BaseLayout>

<style>
	.obra-header-name {
		text-align: center;
		height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.obra-header-name * { width: 100%; }
	.obra-header-name h1 {
		justify-content: center;
		font-size: 3rem;
	}
	.main-content-chapters {
		height: 100vh;
		max-width: 90%;
		margin: 0 auto;
		padding: 24px 16px;
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}
	.main-content-chapters .column-left { flex: 0 0 30%; }
	.main-content-chapters .column-right { flex: 1; }

	.chapters-list-container {
		background-color: var(--color-bg-obsidian);
		border-radius: 1.5rem;
		padding: 1rem 1.5rem;
		height: fit-content;
	}

	.chapter-list-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 1rem;
		height: 100%;
	}

	.arco-container-header {
		grid-column: span 2;
		background-color: var(--color-bg-pizarra);
		padding: 1rem;
		border-radius: 2rem;
	}
	.arco-container-header h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
	}

	.dynamic-slot-work-header {
		width: 100%;
		-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: cover;
		mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
		mask-repeat: no-repeat;
		mask-size: cover;
	}
	.dynamic-slot-work-header img {
		width: 100%;
		height: auto;
		opacity: 0.2;
	}
</style>